* { text-align: center; margin: 0 auto;    }

body {
    background-color: #ececec;
    color: #777;
    /*font-family: "Droid Sans",arial,sans-serif;*/

    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
}
body, html {
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.loginB {  margin-left: -156px;  margin-top: 10%;}
.regB { color: #ffffff }
.logForms {  background: none repeat scroll 0 0 #000;width: 700px;    height: 56px;

    width: 1103px;}
.loginT {color: #fff; }
.btn-8d {
    left: 838px;

    padding: 2px 25px !important;
    position: relative;
    top: -55px; }
.btn-8c {float: left;
    left: 182px;
    top: 1px;
    margin-left: 473px !important;
    padding: 2px 71px !important;
    position: relative; }
.clear {clear: both;}
.logout {  float: right;  margin-right: 80px;  margin-top: 10px;}
.headImage { background: url("http://hackaton.local/css/images/png1.png"); width: 1102px; height: 220px; }
.headImfBackground { background: none; height: 260px;
    width: 100%; }
.headText {  background: none repeat scroll 0 0 #000;
    height: 40px;
    width: 1102px; }
.headTeam { background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    color: #fff;
    font-size: 22px;
    margin-top: 0;
    position: relative;
    top: 6px; }
footer {
    background: none repeat scroll 0 0 #000;
    bottom: 0;
    height: 62px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 1102px;
}
.btn-2a { padding: 1px !important; }
.section {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    left: -102px;
    margin: 0 auto;
    position: relative;
    top: 21px;
    width: 818px;
}
ul.tabs {
    height: 28px;
    line-height: 25px;
    list-style: none;
    border-bottom: 1px solid #DDD;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.tabs li {
    float: left;
    display: inline;
    margin: 0 1px -1px 0;
    padding: 0 13px 1px;
    color: #777;
    cursor: pointer;
    background: #F9F9F9;
    border: 1px solid #E4E4E4;
    border-bottom: 1px solid #F9F9F9;
    position: relative;
}
.tabs li:hover,
.vertical .tabs li:hover {
    color: #F70;
    padding: 0 13px;
    background: #FFFFDF;
    border: 1px solid #FFCA95;
}
.tabs li.current {
    color: #444;
    background: #EFEFEF;
    padding: 0 13px 2px;
    border: 1px solid #D4D4D4;
    border-bottom: 1px solid #EFEFEF;
}
.box {
    display: none;
    border: 1px solid #D4D4D4;
    border-width: 0 1px 1px;
    background: #EFEFEF;
    padding: 0 12px;
}
.box.visible {
    display: block;
}

.section.vertical {
    width: 440px;
    border-left: 160px solid #FFF;
}
.vertical .tabs {
    width: 160px;
    float: left;
    display: inline;
    margin: 0 0 0 -160px;
}
.vertical .tabs li {
    padding: 0 13px;
    margin: 0 0 1px;
    border: 1px solid #E4E4E4;
    border-right: 1px solid #F9F9F9;
    width: 132px;
    height: 25px;
}
.vertical .tabs li:hover {
    width: 131px;
}
.vertical .tabs li.current {
    width: 133px;
    color: #444;
    background: #EFEFEF;
    border: 1px solid #D4D4D4;
    border-right: 1px solid #EFEFEF;
    margin-right: -1px;
}
.vertical .box {
    border-width: 1px;
}
.contentPage { width: 1102px;  background: #F8F8F8  ; min-height: 600px;}
.loginForm {background: none repeat scroll 0 0 #5cbcf6;
    border-radius: 21px;
    height: 189px;
    position: relative;
    top: 100px;
    width: 369px; }
.email1 {left: -12px;
    position: relative;
    top: 4px; }
.passwd { left: 53px;
    position: absolute;
    top: 96px; }
#loginb {   border: 1px solid #fff;
    height: 30px;
    position: relative;
    top: 93px;
    width: 80px;}
.regForm1 { }
.name { }
.username12 { }
.emalR { }
.emalr2 { }
.emaldfl { }
.userType { }
.userTypeSelect { }
.location1 { }
.locintup { }
.phone1 {}
.phoneInput {}
.descr1 {position: relative;
    top: -26px;}
.descrField {    position: relative;
    top: -17px;}
.photo1 { }
.photoUP {}
.regsubmit {position: relative;
    top: -79px;}
.fffform { background: none repeat scroll 0 0 #5cbcf6;
    border-radius: 20px;
    height: 540px;
    position: relative;
    top: 65px;
    width: 700px; }
.btn-8a {
    float: right;
    height: 19px;
    position: relative;
}
.asd {color: #fff;
    left: 37px;
    position: relative;
    top: -19px;}
.sdsd {}
.userName1 {}
.userMail1 {}
.userType1 {}
.userLocation1 {}
.userPhone1 {}
.userPhoto1 {}
.unknownList1 {}
.floatMargin12 {left: -17px;
    position: relative; }
.BIUHRUBKEH {left: -59px;
    position: relative;  }
.dasd {  left: 64px;
    position: relative;
    top: -20px;}
.dasd1 {left: 78px;
    position: relative;
    top: -20px;}
.dasd2 {left: 113px;
    position: relative;
    top: -21px;}
.dasd3 {left: 97px;
    position: relative;
    top: -19px;}
.dasd5 { left: 64px;
    position: relative;
    top: -20px;}
.dasd56 {}
.userPic {left: -396px;
    position: relative;
    top: 70px; }